body {
    font-family: sans-serif;
    margin: 0 50px;
  }
  
  .container {
    display: flex;
    gap: 50px;
  }
  
  #posts {
    width: 400px;
  }
  
  #posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options {
    display: flex;
    gap: 25px;
  }
  
  i {
    cursor: pointer;
  }

  .submit-btn{
      background-color: #2056ca;
      color: #fff;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
  }
  
  #errorMsg {
    color: red;
    font-size: 14px;
    margin-top: -18px;
    margin-bottom: 5px;
  }